body{
    background-color: mintcream;
}

#myheader{
    font-family: 'Oswald', sans-serif;
    background-color:white;
    border-style: solid;
    border-color: white;
    border-bottom-color: rgb(237, 255, 250);
    height: 100px;
    margin-top: -60px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-size: 50px;
    padding-left: 20px;
    padding-bottom: 25px;
}

#myfooter{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color:white;
    border-style: solid;
    border-color: white;
    border-top-color: rgb(230, 255, 250);
    height: 100px;
    margin-top: 350px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 60px;
}

#footerParagraphs{
    font-size: 20px;
    line-height: 10px;
}

#footerTitle{
    font-size: 30px;
    line-height: 10px;
}

h1 {
    color: black;
    font-size: 130px;
    font-weight: 50;
    padding-bottom: 1px;
    margin-bottom: 50px;
    margin-left: -25px;
    text-align: center;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}

button:hover{
    background-color: rgb(100, 100, 100);
    border-color: rgb(116, 113, 113);
    border-width: 7px;
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-color: rgb(80, 80, 80);
    border-left-color: rgb(80, 80, 80);
}

.studentButton {
    background-color: rgb(14, 238, 144);
    font-family: 'Archivo Black';
    border: solid;
    border-width: 7px;
    border-top-width: 6px;
    border-right-width: 6px;
    border-color: rgb(11, 207, 96);
    border-top-color: rgb(114, 240, 154);
    border-right-color: rgb(114, 240, 154);
    color: white;
    width: 400px;
    height: 200px;
    text-decoration: none;
    display: inline-block;
    font-size: 70px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.adminButton {
    background-color: rgb(240, 71, 121);
    font-family: 'Archivo Black';
    border: solid;
    border-width: 7px;
    border-top-width: 6px;
    border-right-width: 6px;
    border-color: rgb(240, 16, 121);
    border-top-color: rgb(252, 105, 149);
    border-right-color: rgb(252, 105, 149);
    color: white;
    width: 400px;
    height: 200px;
    text-decoration: none;
    display: inline-block;
    font-size: 70px;
    margin-top: 1px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}


@media screen and (max-width: 849px){
    .adminButton{
	margin-left: -10px;
    }
}

.centerButtons{
    text-align: center;  
}
