body{
    background-color: mintcream;
}

h1 {
    color: black;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    background-color: rgb(144, 238, 144);
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 10px 10px 10px;
}

label{
    color: rgb(0, 0, 0);
    font-size: 25px;
    line-height: 30px;
    padding-left: 0px;
    padding-right: 150px;
}

input{
    font-size: 20px;
}

input{
    padding: 5px 10px 5px 10px;
}

.centerLogin{
    text-align: center;  
}

.loginButton {
    background-color: brown;
    border: none;
    color: white;
    padding: 12px 17px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 10px 10px 10px 10px;
}