body{
    background-color: rgb(253, 219, 219);
}

#selfie{
    width: 200;
    position: absolute;
}

header{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    width: 100%;
}

header h1{
    font-family: 'Oswald', sans-serif;
    font-size: 150px;
    position: absolute;
    margin-top: 0px;
    left: 250px;
    top: 0;
}

nav{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    z-index: 0;
    top: 220px;
    left: 0px;
    background-color: rgb(248, 248, 248);
    height: 100px;
    width: 100%;
}

nav button {
    position: relative;
    left: 20px;
    top: 15px;
    background-color: rgb(255, 101, 101);
    font-family: 'Archivo Black';
    border-radius: 40px;
    border: solid;
    border-width: 7px;
    border-color: rgb(255, 97, 97);
    border-top-color: rgb(250, 131, 131);
    border-right-color: rgb(240, 106, 106);
    color: black;
    width: 220px;
    height: 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    padding-bottom: 50px;
    margin-right: 30px;
}

@media screen and (max-width: 1115px){
    header h1{
        font-size: 120px;
        left: 220px;
        top: 20px;
    }
    #selfie{
        width: 170;
        position: absolute;
        left: 20px;
        top: 20px;
    }
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}