body{
    position: relative;
    margin: 0;
    background-color: rgb(247, 244, 244);
    height: 1000px;
    width: 100%;
    padding: 0px;
}

header{
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    height: 300px;
    width: 100%;
}

#mynamebox{
    position: relative;
    float: right;
    top: 50px;
    right: 0px;
    font-size: 100px;
    width: 80%;
    height: 120px;
    padding: 0;
    border-style: solid;
}
#mynamebox h1{
    margin: 0;
    position: absolute;
    top: 0;
}
#selfiebox{
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    width: 270px;
    border-style: solid;
    padding: 0;
}
img{
    width: 100%;
}

nav{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    z-index: 0;
    top: 310px;
    left: 0px;
    background-color: rgb(255, 238, 0);
    height: 100px;
    width: 100%;
}

nav a {
    position: relative;
    left: 10px;
    top: 10px;
    font-family: 'Archivo Black';
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin-right: 20px;
}

footer{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-width: 10px;
    border-color: rgb(255, 238, 0);
    padding-top: 0px;
    height: 80px;
    width: 100%;
    line-height: 10px;
}

#welcome{
    font-size: 40px;
}

@media screen and (max-width: 500px){
    header{
        height: 170px;
    }
    #mynamebox{
        position: absolute;
        top: 50px;
        right: 0px;
        font-size: 25px;
        float: right;
        width: 61%;
        height: 120px;
        padding: 0;
        border-style: none;
    }
    #mynamebox h1{
        margin: 0;
        position: absolute;
        top: 0;
    }
    #selfiebox{
        position: absolute;
        top: 40px;
        left: 8px;
        text-align: center;
        width: 30%;
        padding: 0;
        border-radius: 100px;
        border-width: 8px;
        border-style: double;
        border-color: rgb(198, 255, 255);
    }
    img{
        width: 100%;
    }
    nav{
        font-family: 'Oswald', sans-serif;
        position: absolute;
        z-index: 0;
        top: 180px;
        left: 0px;
        background-color: rgb(255, 238, 0);
        height: 45px;
        width: 100%;
    }
    nav a{
        font-size: 18;
        margin-right: 17px;
    }
    #pageinfo{
        position: relative;
        top: 40px;
        left: 20px;
        width: 90%;
    }
    #welcome{
        font-size: 20px;
    }
}

a:link {
    text-decoration: none;
}

#link{
    color: blue;
    text-decoration: underline;
}
  
a:visited {
    text-decoration: none;
}