@media screen and (max-width: 450px){
    body{
        left: 0%;
        width: 100%;
        height: 1080px;
    }
    header{
        position: relative;
        height: 180px;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    #mynamebox{
        position: absolute;
        top: 48px;
        font-size: 25px;
        width: 61%;
    }
    #mynamebox h1{
        color:black;
    }
    nav{
        border-bottom-style: dotted;
        border-width: 1px;
        background-color: white;
    }
    button{
        border-color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
    }
    #welcome{
        font-size: 20px;
        color: white;
    }
    footer{
        background-color: rgb(255, 255, 255);
        color: black;
    }
}
