body{
    max-width: 800;
    margin: auto;
    background: #0A0A0A;
    position: relative;
    height: 1200px;
}
#longbody{
    height: 1500px;
}
header{
    position: relative;
    background-color:#0A0A0A;
    height: 180px;
    width: 100%;
}
#mynamebox{
    float: right;
    position: absolute;
    top: 70px;
    left: 140px;
    font-size: 40px;
    width: 80%;
}
#mynamebox h1{
    color: white;
    margin: 0;
    position: absolute;
    top: 0;
}
#selfiebox{
    position: absolute;
    top: 40px;
    left: 8px;
    text-align: center;
    width: 120px;
    padding: 0;
    border-radius: 100%;
    border-width: 3px;
}
img{
    width: 100%;
}
nav{
    position: absolute;
    font-family: 'Oswald', sans-serif;
    z-index: 0;
    top: 180px;
    left: 0px;
    height: 55px;
    width: 100%;
    padding: 0;
    margin: 0;
    border-top-width: 1px;
    border-bottom-width: 2px;
}
ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
}    
li {
    text-align: center;
    width: 25%;
    height: 100%;
    float: left;
}
button{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 76);
    border-color: #0A0A0A;
}
a{
    color: rgb(0, 0, 0);
}
#pageinfo{
    position: relative;
    top: 70px;
    left: 20px;
    width: 90%;
}
#welcome{
    font-size: 30px;
    color: white;
}
footer{
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 1%;
    left: 0;
    background-color: #0A0A0A;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-width: 5px;
    border-color: rgb(255, 0, 76);
    padding-top: 0px;
    height: 80px;
    width: 100%;
    line-height: 10px;
}

a:link {
    text-decoration: none;
}

#link{
    color: yellow;
    text-decoration: underline
}

#slink{
    color: rgb(255, 0, 76);
    text-decoration: underline;
}

#blueink{
    color: rgb(255, 0, 149);
}

#navoffset{
    background-color: rgb(219, 38, 92);
}
  
a:visited {
    text-decoration: none;
}

button:hover{
    background-color: rgb(219, 38, 92);
}

@media screen and (max-width: 860px){
    #mynamebox{
        top: 79px;
        font-size: 35px;
    }
}

@media screen and (max-width: 720px){
    #mynamebox{
        top: 15px;
    }
}
