@media screen and (max-width: 420px){
    body{
        height: 1000px;
    }
    #mynamebox{
        top: 48px;
        font-size: 25px;
        width: 61%;
    }
    nav{
        left: 1%;
        width: 98%;
    }
    button{
        font-size: 18px;
        border-width: 2px;
    }
    #welcome{
        font-size: 20px;
    }
    footer{
        border-width: 2px;
        width: 98%;
        left: 1%;
    }
}
